<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Watch List</title>
    <link rel="icon" type="image/x-icon" href="/movie.png">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>

<body>
    <div class="button-container">
        <form action="/home" method="post" class="mukta-regular"> 
            <input type="submit" value="Home" class="nav-button">
        </form>
        <form action="/archive" method="post" class="mukta-regular">
            <input type="submit" value="Archive" class="nav-button">
        </form>
    </div>
    <hr>

    <h1 class="mukta-regular">Want to watch a movie?</h1>
    <form action="/home" method="post" class="mukta-regular">
        <fieldset>
            <legend>Submit a Movie</legend>
            <label>Title: <input type="text" name="title" required autocomplete="off"></label><br>
            <label>Type: 
                <select name="type" size="1" required>
                    <option value="" disabled selected></option>
                    <option value="animated">Animated</option>
                    <option value="documentary">Documentary</option>
                    <option value="movie">Movie</option>
                    <option value="reality">Reality</option>
                    <option value="series">Series</option>
                </select>
            </label><br>
            <label>Description: <br><textarea name="description" rows="5" cols="65" required autocomplete="off"></textarea></label><br>
            <label>Submitted by: <input type="text" name="name" required autocomplete="off"></label><br>
        </fieldset>
        <div class="button-container">
            <input type="reset" class="mukta-regular">
            <input type="submit" class="mukta-regular">
        </div>
    </form>

</body>

</html>